.heightcarrousel{
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.titulos{
    color: rgb(217, 219, 186);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
  }
  
.titulosub{
    color: rgb(117, 117, 114);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
  }
  