@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
  background: url(./assets/fondo13.jpg);
  background-size:contain;
}

/*NAVBAR logo enjoy safe*/
.navbar {
  opacity:0.85;
  filter:alpha(opacity=0.93); 
  border-radius: 6px;
  box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.644);
  background-image: url(
    https://p4.wallpaperbetter.com/wallpaper/712/644/866/starry-sky-stars-universe-violet-wallpaper-preview.jpg);
}
.userPhoto {
  padding: 80px;
  margin-top: -60px;

}
/* formulario sesion inicio */
.FormInicioSesion {
  height: 350px;
  border: 2px solid gray;
  border-radius: 80px 20px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
.FormInicioSesion2 {
  height: 750px;
  border: 2px solid gray;
  border-radius: 80px 20px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
/* contenido formulario */
.form-group {
  margin: 20px 70px;
}
/* boton salir componente card */
.botonCancelar2 {
  float: left;
  margin-top: 20px;
  margin-left: 400px;
}
/*---------------------------------------------------------------------------------*/

.botonsalir {
  float: right;
  margin-right: 250px;
  margin-top: -38px;
}
/*boton crear usuario*/
.botonCreateUser {
  float: right;
  margin-right: 70px;
  margin-top: 20px;
}
/* FORMULARIO ADMINSTRADOR NUEVO EVENTO ---------------------------- */
.admNewEventForm {
  height: 550px;
  border: 2px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
/* -------------------------------------------------------------------------- */
/* ICONO CORAZON FAVORITOS */
.iconoHeart {
  color: rgb(196, 10, 10);
  font-size: 45px;
  float: right;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}
.iconoHeart:hover {
  font-size: 57px;
  text-decoration: underline;
}

/* ICONO VER MAPA*/
.iconoLocation{
  color: green;
  font-size:45px;
  float:right;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  }
.iconoLocation:hover{
  font-size: 57px;
  text-decoration:underline;
}
  
.calendarBox {
  width: 100% !important;
}

.cardProfile {
  box-shadow: 0 0 16px 10px rgba(0, 0, 0, 0.644);
  height: 640px;
  background-color: rgba(245, 245, 245, 0.829);
}
.page-footer{
  opacity:0.85;
  filter:alpha(opacity=0.93); 
  border-radius: 6px;
  box-shadow: 0 0 12px 10px black;
  background-image: url(
    https://p4.wallpaperbetter.com/wallpaper/712/644/866/starry-sky-stars-universe-violet-wallpaper-preview.jpg);
}
/* titulos */
.textoHome{
  font-family: 'Lobster', cursive;
  font-size:55px;
  color:white;
}
.textoSubtitulo{
  font-family: 'Lobster', cursive;
  font-size:35px;
  color:white;
}
/* texto navbar */
.textoNav{
  font-family: 'Estonia', cursive;
  font-size:45px;
  color:white;
}
.textoNavMiPerfil{
  font-family: 'Estonia', cursive;
  font-size:35px;
  color:white;
}
/* boton nav inicio y cierre sesion */
.buttonNav{
  font-family: 'Estonia', cursive;
  font-size:30px;
  color:white;
}
.buttonNavCerrar{
  font-family: 'Estonia', cursive;
  font-size:30px;
  color:black;
}
.beneficiosHome{
  font-family: 'Lobster', cursive;
  font-size:20px;
}


.tituloLogin{
  font-family: 'Courgette', cursive;
  font-size:55px;
  color:white;
}
.subtituloLogin{
  font-family: 'Courgette', cursive;
  font-size:35px;
  color:white;
}
.cardReservar{
  border:1px solid black;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}