body{
  background-color:whitesmoke !important;
  background: url('./assets/fondo.jpg') no-repeat;
  background-size: cover;
}

/*NAVBAR logo enjoy safe*/
.navbar {
  opacity:0.93;
  filter:alpha(opacity=0.93); 
  border-radius: 6px;
  background-image: url(
    https://p4.wallpaperbetter.com/wallpaper/712/644/866/starry-sky-stars-universe-violet-wallpaper-preview.jpg);
  font-family: "Times New Roman", Times, serif;
}

.userPhoto {
  padding: 80px;
  margin-top: -60px;

}
/* formulario sesion inicio */
.FormInicioSesion {
  height: 350px;
  border: 2px solid gray;
  border-radius: 80px 20px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
.FormInicioSesion2 {
  height: 750px;
  border: 2px solid gray;
  border-radius: 80px 20px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
/* contenido formulario */
.form-group {
  margin: 20px 70px;
}
/* boton salir componente card */
.botonCancelar2 {
  float: left;
  margin-top: 20px;
  margin-left: 400px;
}
/*---------------------------------------------------------------------------------*/

.botonsalir {
  float: right;
  margin-right: 250px;
  margin-top: -38px;
}
/*boton crear usuario*/
.botonCreateUser {
  float: right;
  margin-right: 70px;
  margin-top: 20px;
}
/* FORMULARIO ADMINSTRADOR NUEVO EVENTO ---------------------------- */
.admNewEventForm {
  height: 550px;
  border: 2px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
}
/* -------------------------------------------------------------------------- */
/* ICONO CORAZON FAVORITOS */
.iconoHeart {
  color: rgb(196, 10, 10);
  font-size: 45px;
  float: right;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}
.iconoHeart:hover {
  font-size: 57px;
  text-decoration: underline;
}

/* ICONO VER MAPA*/
.iconoLocation{
  color: green;
  font-size:45px;
  float:right;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  }
.iconoLocation:hover{
  font-size: 57px;
  text-decoration:underline;
}
  
.calendarBox {
  width: 100% !important;
}

.cardProfile {
  box-shadow: 0 0 10px 10px rgba(138, 138, 138, 0.993);
  height: 650px;
  background-color: aqua;
}
